.container {
  width: 100%;
  min-height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
}

.wrapper {
  width: 60%;
  height: 90%;
}

.heading {
  font-size: 4rem;
  text-align: center;
}

.howToUse {
  width: 100%;
  padding-top: 56.25%;
  background-color: #2D2D2D;
  margin: 5rem auto;
}

.button {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
}