.container {
  width: min-content;
  transition: all .2s;
}

.button {
  background-color: #E82430;
  padding: 1rem 3rem;
  box-shadow: 0 0 97px 0 rgba(255, 255, 255, 0.5);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.container:hover {
  transform: translateY(-3px);
}

.container:hover .button {
  box-shadow: 0 0 97px 2px rgba(255, 255, 255, 0.5);
}
