.container {
  width: 100%;
  min-height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  font-size: 2rem;
}

.wrapper {
  width: 60%;
  height: 90%;
  /* background-color: yellow; */
}

.heading {
  font-size: 4rem;
  text-align: center;
}

.howToUse {
  width: 100%;
  padding-top: 56.25%;
  background-color: #2D2D2D;
  margin: 5rem auto;
}

.button {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 850px) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    min-height: 80vh;
    /* background-color: yellowgreen; */
  }
}

@media only screen and (max-width: 500px) {
  .heading {
    font-size: 3rem;
  }

  .wrapper {
    width: 95%;
  }
}