.container {
  width: 100%;
  min-height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2D2D2D;
  color: #fff;
}

.wrapper {
  width: 92%;
  height: 90%;
  /* background-color: red; */
}