* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: #000;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

a, 
a:link,
a:visited {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */